$switch-width: $gutter-width-large;
$switch-height: $gutter-width-small + 2;

.c-checkbox {
  font-size: $font-size-medium;
  padding: $gutter-width-small - 1 0;
  vertical-align: bottom;
  display: block;
  cursor: pointer;
  line-height: 1rem;
}

.c-checkbox_read-only {
  cursor: default;
}

.c-checkbox__input {
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.c-checkbox__visual {
  margin-right: $gutter-width-tiny;
  height: 15px;
  width: 15px;
  content: '';
  border: 1px solid #cfd1d6;
  border-radius: 2px;
  display: inline-block;
  box-shadow: inset 0 2px 5px 0 #f6f6f6;
  margin: 0 $gutter-width-extra-small 1px 0;
}

.c-checkbox__icon.c-checkbox__icon {
  padding: 1px 0px;
  vertical-align: inherit;
  stroke: white;
}

.c-checkbox__input:focus + .c-checkbox__visual {
  background: none;
  border-color: $brand-info;
}

.c-checkbox__input.js-checked + .c-checkbox__visual,
.c-checkbox__input:checked + .c-checkbox__visual {
  background: $brand-info;
  border-color: $brand-info;
  box-shadow: none;
}

.c-checkbox__input:disabled + .c-checkbox__visual {
  opacity: 0.5;
  cursor: not-allowed;
}

.c-checkbox__input:focus + .c-checkbox__visual,
.js-active > .c-checkbox__visual {
  border-color: $brand-info;
}

.c-checkbox label {
  font-weight: normal;
}

.c-checkbox.js-error,
.c-checkbox.js-warning {
  padding-bottom: $gutter-width-tiny;
}

.c-checkbox.js-warning .c-checkbox__visual:before,
.c-checkbox.js-error .c-checkbox__visual:before {
  background-color: shade($brand-warning, 10);
  content: '';
  margin-right: $gutter-width-extra-small / -2;
  margin-top: $gutter-width-extra-small / -2;
  margin-bottom: $gutter-width-extra-small / -2;
  width: $gutter-width-extra-small;
  height: $gutter-width-extra-small;
  border-radius: $gutter-width-extra-small / 2;
  display: block;
  float: right;
}

.c-checkbox.js-error .c-checkbox__visual:before {
  background-color: shade($brand-danger, 20);
}

// Theme switch
.c-checkbox_theme-switch {
  display: flex;
  align-items: center;
  padding: $gutter-width-small - 2 0;
}

.c-checkbox_theme-switch .c-checkbox__visual {
  height: $switch-height + 1;
  width: $switch-width;
}

.c-checkbox_theme-switch .c-checkbox__visual,
.c-checkbox_theme-switch .c-checkbox__input:focus + .c-checkbox__visual {
  border-radius: $switch-height;
  border-width: 2px;
  position: relative;
  background-color: $grey-light;
  border-color: $grey-light;
  box-shadow: none;
}

.c-checkbox_theme-switch .c-checkbox__input:focus + .c-checkbox__visual {
  background-color: shade($grey-light, 20);
  border-color: shade($grey-light, 20);
}

.c-checkbox_theme-switch
  .c-checkbox__input:focus:checked
  + .c-checkbox__visual {
  background-color: shade($brand-primary, 20);
  border-color: shade($brand-primary, 20);
}

.c-checkbox_theme-switch .c-checkbox__visual:after {
  content: '';
  position: absolute;
  top: 0px;
  right: $switch-width - $switch-height - 1;
  display: block;
  width: $switch-height;
  height: $switch-height;
  border-radius: $switch-height/2;
  background-color: white;
}

.c-checkbox_theme-switch .c-checkbox__visual .c-checkbox__icon,
.c-checkbox_theme-switch .c-checkbox__visual .c-checkbox__icon {
  display: none;
}

.c-checkbox_theme-switch .c-checkbox__input.js-checked + .c-checkbox__visual,
.c-checkbox_theme-switch .c-checkbox__input:checked + .c-checkbox__visual {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.c-checkbox_theme-switch
  .c-checkbox__input.js-checked
  + .c-checkbox__visual:after,
.c-checkbox_theme-switch
  .c-checkbox__input:checked
  + .c-checkbox__visual:after {
  right: 1px;
}

.c-checkbox_theme-switch .c-checkbox__visual:after,
.c-checkbox_theme-switch .c-checkbox__visual {
  transition: background-color 100ms linear, border-color 100ms linear,
    right 100ms linear;
}

.c-checkbox_size-small {
  padding: $gutter-width-extra-small - 1 0;
}

.c-checkbox_theme-switch.c-checkbox_size-small .c-checkbox__visual {
  height: $switch-height - 2;
  width: $switch-width - 6;
}

.c-checkbox_theme-switch.c-checkbox_size-small .c-checkbox__visual:after {
  right: 5px;
  height: 12px;
  width: 13px;
}

// Modifier table-cell
.c-checkbox_table-cell {
  padding: $gutter-width-extra-tiny - 1 $gutter-width-extra-tiny;
}

.c-checkbox_table-cell.c-checkbox_theme-switch {
  padding: $gutter-width-extra-tiny - 2 $gutter-width-extra-tiny;
}

.c-checkbox_table-cell::after {
  content: '\00a0'; // To enfoce the line-height when there is no label.
}

// Modifier one-line
.c-checkbox_one-line {
  padding: 0;
}

.c-checkbox_one-line .c-checkbox__visual {
  margin: $gutter-width-small - 1 $gutter-width-small $gutter-width-small;
}

.c-checkbox_one-line .c-checkbox__label {
  border-left: 1px solid $border-color;
  padding: $gutter-width-small;
}
.js-disabled .c-checkbox_one-line .c-checkbox__label {
  border-color: $border-color-light;
}

.c-checkbox_one-line.c-checkbox_theme-switch .c-checkbox__visual {
  margin: $gutter-width-small - 2 $gutter-width-small $gutter-width-small - 1;
}

.c-checkbox_one-line.js-error .c-checkbox__label {
  border-color: $brand-danger;
}

.c-checkbox_one-line.js-warning .c-checkbox__label {
  border-color: $brand-warning;
}