/*!
 * Based on https://github.com/arqex/react-datetime
 */

 .rdt {
  position: relative;
}
.rdtPicker {
  background-color: white;
  display: none;
  position: absolute;
  width: 250px;
  z-index: 99999 !important;
  border-radius: $border-radius-medium;
  border: 1px solid $border-color;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: -1px;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  line-height: $gutter-width-extra-large;
  font-size: $font-size-medium;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker td.rdtYear:hover,
.rdtPicker td.rdtMonth:hover,
.rdtPicker .rdtTimeToggle:hover,
.rdtPicker th.rdtSwitch:hover,
.rdtPicker th.rdtNext:hover,
.rdtPicker th.rdtPrev:hover,
.rdtCounter .rdtBtn:hover {
  border-radius: $border-radius-medium;
  cursor: pointer;
  background: $grey-lightest;
  color: $font-color;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: shade($font-color, 80%);
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid $brand-primary;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: $brand-secondary;
  color: $font-color;
  border-radius: $border-radius-medium;
}
.rdtPicker td.rdtDay:active,
.rdtPicker td.rdtHour:active,
.rdtPicker td.rdtMinute:active,
.rdtPicker td.rdtSecond:active,
.rdtPicker td.rdtSecond:active,
.rdtPicker td.rdtYear:active,
.rdtPicker td.rdtMonth:active,
.rdtPicker .rdtTimeToggle:active,
.rdtPicker th.rdtSwitch:active,
.rdtPicker th.rdtNext:active,
.rdtPicker th.rdtPrev:active {
  background-color: $brand-secondary;
  color: $font-color;
  border-radius: $border-radius-medium;
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: $font-color;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: $font-color-disabled;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: $font-color-disabled;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: $font-color-disabled;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid $border-color;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100%;
  font-size: $font-size-medium;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: $font-size-large;
  vertical-align: top;
}
.rdtPicker th.rdtNext span,
.rdtPicker th.rdtPrev span {
  height: 100%;
}
.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  width: 32px;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background-color: $brand-secondary;
  color: $font-color;
  border-radius: $border-radius-medium;
}
.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  line-height: $gutter-width-large * 2;
  width: 25%;
  cursor: pointer;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 30%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 15%;
}

.rdtMilli {
  vertical-align: middle;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
}

// Open modifier
.c-date-time-picker-open .rdtPicker {
  position: inherit;
  width: 100%;
}

// Day

.c-date-time-picker-open .rdtPicker td.rdtToday {
  border-radius: 50px;
}

.c-date-time-picker-open .rdtPicker td.rdtActive {
  border-radius: 50px;
  background: $brand-primary;
  color: $background-color;
}

.c-date-time-picker-open .rdtPicker td.rdtDay:hover {
  border-radius: 50px;
  background: $brand-primary;
  color: $background-color;
}

.c-date-time-picker-hidelabel label {
  display: none;
}

.c-date-time-picker-open .rdtPicker td.rdtNew {
  opacity: 0.5;
}

.c-date-time-picker-open .rdtPicker td.rdtOld {
  opacity: 0.5;
}

.c-date-time-picker-open .rdtPicker .dow {
  font-weight: 200;
}

.c-date-time-picker-open .rdtPicker th.rdtSwitch:hover {
  border: 1px solid $brand-primary;
  cursor: pointer;
}
.c-date-time-picker-open .rdtPicker th.rdtPrev:hover {
  border: 1px solid $brand-primary;
  cursor: pointer;
}

.c-date-time-picker-open .rdtPicker th.rdtNext:hover {
  border: 1px solid $brand-primary;
  cursor: pointer;
}

.c-date-time-picker-open .rdtPicker td.rdtMonth:hover {
  border-radius: 50px;
  background: $brand-primary;
  border: none;
  color: $background-color;
}

.c-date-time-picker-open .rdtPicker td.rdtYear:hover {
  border-radius: 50px;
  background: $brand-primary;
  border: none;
  color: $background-color;
}

.c-date-time-picker_position-right .rdtPicker {
  position: absolute;
  right: 0;
}
