.c-textarea {
  width: 100%;
  max-width: 100%;
  border-radius: $border-radius-medium;
  border: 1px solid $border-color;
  padding: $gutter-width-small;
  outline: none;
  height: 3.6em;
  background: transparent;
  color: $font-color;
  resize: vertical;
  min-height: $font-size-large; // So 1 rem (16px)
}

.c-textarea:disabled {
  cursor: not-allowed;
}

.c-textarea:focus {
  border-color: $brand-primary;
}

.c-textarea_inline {
  height: calc(5.4em + 8px);
  font-size: $font-size-medium;
  line-height: 1em;
  padding: $gutter-width-extra-tiny + 2;
  border: none;
}

.c-textarea_inline:focus {
  border-color: $brand-primary;
}

.c-textarea_inline.js-warning {
  border-color: $brand-warning;
}
.c-textarea_inline.js-error {
  border-color: $brand-danger;
}

.c-textarea::-webkit-scrollbar {
  width: 16px;
  background: transparent;
}

.c-textarea::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border: 6px solid transparent;
  border-radius: 16px;
  background-clip: content-box;
}

.c-textarea::-webkit-scrollbar-corner {
  background: transparent;
  stroke: transparent;
}

.c-textarea_inline {
	border: none;
	padding: 0 $gutter-width 0;
	margin: ($gutter-width-small * 2) + $gutter-width - $gutter-width-extra-small 0 $gutter-width;
  border-radius: unset;
  box-sizing: border-box;
  resize: none;
}

.c-textarea_inline:placeholder-shown {
	padding: 0 $gutter-width 0;
	margin: $gutter-width-large 0 $gutter-width-large;
}

.c-textarea_inline.c-textarea_with-icon {
  padding-right: $gutter-width + $gutter-width-small;
}

.c-textarea_inline::placeholder {
	text-transform: uppercase;
	color: $font-color-light;
}