// This element uses the react-select module. This is why the nested classes are not BEM.

// The external library loads a div so the input padding & border needs to go on the Select-placeholder or the Select-input.
.c-select-input {
  padding: 0;
  z-index: z(autosuggest);
  cursor: pointer;
  border-radius: $border-radius-small;
  border: 1px solid $border-color;
  line-height: 1rem;
}


.c-select-input.is-disabled {
  cursor: not-allowed;
  border-color: $border-color-light;
}
.c-select-input.is-disabled .Select-input{
  display: none !important;
}

.Select-multi-value-wrapper {
  display: block;
}

.c-select-input .Select-control {
  border-radius: $border-radius-medium;
  padding: $gutter-width-small - 1 $gutter-width-small;
}

.c-select-input.js-warning {
  border-color: $brand-warning;
}

.c-select-input.js-error {
  border-color: $brand-danger;
}

.c-select-input.is-focused {
  border-color: $brand-primary;
  outline: 0;
}

.c-select-input.is-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  margin-bottom: 1px;
}
.c-select-input_table-cell.c-select-input.is-open {
  padding-bottom: 0;
}
.c-select-input--no-icons .c-select-input__icon {
  display: none;
}
.c-select-input--no-flags .c-select-input__flag {
  display: none;
}

// The selectable options in the dropdown.
.c-select-input__icon {
  margin-right: 8px;
}

// The placeholder for when the field is not selected
.Select-noresults {
  padding: $gutter-width-extra-small $gutter-width-small;
  font-size: $font-size-medium;
}

.c-select-input__value,
.Select-placeholder {
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: normal;
  vertical-align: inherit;
}

.c-select-input:not(.Select--single) .c-select-input__value {
  cursor: pointer;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: $gutter-width-tiny;
  border: 1px solid $border-color;
  padding: 0 $gutter-width-extra-small;
  border-radius: 3px;
  vertical-align: 0;
  margin-bottom: $gutter-width-extra-small * -1;
  background: white;
  line-height: $gutter-width-large;
  font-size: $font-size-medium;
  margin-top: $gutter-width-tiny * -1;
}

.c-select-input:not(.Select--single) .Select-control {
  vertical-align: inherit;
}

.Select-placeholder {
  color: tint($font-color, 60);
  display: inline-block;
  padding: 0;
  vertical-align: top;
}
.c-select-input.is-open .Select-placeholder,
.c-select-input.is-focused .Select-placeholder {
  display: none;
}

// The input that is hidden in the beginning and shown when the field is selected
.c-select-input.is-loading .Select-placeholder {
  margin-top: 4px;
  margin-bottom: -3px;
  max-width: 100%;
  overflow: hidden;
}
.c-select-input.c-select-input_table-cell.is-loading .Select-input {
  vertical-align: 6px;
}
.Select-input {
  display: inline-block !important;
  position: relative;
  max-width: 100%;
  height: 1rem;
}

.c-select-input.is-open .Select-input,
.c-select-input.is-focused .Select-input {
  display: inline-block !important;
}
.Select-input input {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  width: 0;
  line-height: 1rem;
  padding: 0;
}

// The dropdown wrapper
.Select-menu-outer {
  min-width: 150px;
  background-color: #fff;
  border: 1px solid $brand-primary;
  border-bottom-left-radius: $border-radius-medium;
  border-bottom-right-radius: $border-radius-medium;
  border-top: 0;
  box-sizing: border-box;
  margin-left: -1px;
  max-height: 210px;
  overflow-x: hidden;
  width: calc(100%);
  z-index: z(dropdown);
  -webkit-overflow-scrolling: touch;
  position: absolute;
}

// The selectable options in the dropdown.
.c-select-input__option {
  padding: $gutter-width-extra-small $gutter-width-small;
  font-size: $font-size-medium;
}

.c-select-input__option.is-focused,
.c-select-input__option:hover {
  color: $brand-primary;
  cursor: pointer;
}
.c-select-input__option.is-disabled {
  background: white;
  color: $font-color;
  cursor: default;
}
.c-select-input__option.is-selected {
  cursor: default;
}

.Select-clear-zone {
  float: right;
  margin-left: $gutter-width-tiny;
  margin-top: 2px;
  position: absolute;
  right: $gutter-width-tiny;
}

.c-select-input_one-line .Select-menu-outer {
  width: calc(100% + 2px);
}

// Inline modifier
.c-select-input_table-cell {
  border: none;
}
.c-select-input_table-cell .c-select-input__value {
  margin-bottom: 2px;
  vertical-align: top;
}
.c-select-input_table-cell:not(.Select--multi) .c-select-input__value {
  height: $gutter-width - 2;
}
.c-select-input_table-cell .Select-input {
  margin-bottom: 2px;
  height: $gutter-width - 2;
}

.c-select-input_table-cell .Select-control {
  padding: $gutter-width-extra-small;
}
.c-select-input.Select--multi.has-value .Select-control
.c-select-input_table-cell.Select--multi.has-value .Select-control {
  padding: 0 $gutter-width-extra-small;
}
.c-select-input_table-cell.Select--multi.has-value.is-open .Select-control {
  padding: $gutter-width-extra-small $gutter-width-extra-small $gutter-width-extra-small - 1;
}
  

// Modifier non-blocking
.c-select-input_non-blocking {
  width: inherit;
  display: inherit;
  min-width: 150px;
  background-color: white;
  border-color: $border-color-darker;
  vertical-align: -8px;
}

.c-select-input_non-blocking.has-value.Select--multi {
  vertical-align: -10px;
}

// Modifier one-liner: Makes the input into one line with the label on the left.
.c-select-input_one-line {
  border: none;
  position: relative;
}
.c-select-input_one-line.is-focused {
  z-index: z(dropdown) + 1;
}
