.c-form-group {
  position: relative;
  margin-bottom: 12px;
}
.c-form-group_as-button {
  margin-bottom: 0;
}

.c-form-group_show-empty-label {
  content: '\00a0'; // To enfoce the line-height when there is no label.
}

.c-form-group__label {
  color: $font-color;
  font-weight: normal;
  width: 100%;
  display: inline-block;
}

.c-form-group__label-content {
  margin-bottom: $gutter-width-extra-small;
  margin-top: $gutter-width-extra-small;
  line-height: 1rem;
  min-height: 1rem;
  font-size: $font-size-medium;
  white-space: nowrap;
}

.c-form-group_table-cell {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1em;
  display: inline-block;
  width: 100%;
}
.c-form-group_table-cell-flex {
  font-size: 1rem;
  line-height: 1em;
  display: flex;
  width: 100%;
}

.c-form-group_table-cell .c-form-group__label-content {
  display: none;
}

.c-form-group.js-error .c-form-group__error, 
.c-form-group.js-warning .c-form-group__warning {
  margin-top: $gutter-width-extra-small;
  font-size: $font-size-medium;
  color: $font-color-light;
}

// Modifier one-line
.c-form-group_one-line {
  border-radius: $border-radius-small;
  margin-bottom: 0;
  display: inline-table;
  line-height: $input-height;
  width: 100%;
}
.c-form-group_one-line .c-form-group__label {
  display: table;
}
.c-form-group_one-line .c-form-group__label-content {
  padding: $gutter-width-small - 1 $gutter-width-small $gutter-width-small;
  display: table-cell;
  width: 1%;
  border-right: 1px solid $border-color-light;
  min-height: 1rem;
  font-size: $font-size-medium;
  white-space: nowrap;
}

.c-form-group_one-line .c-input__icon {
  margin-top: 11px;
  margin-bottom: -32px;
  line-height: initial;
  margin-right: $gutter-width;
}
.c-form-group_one-line.js-disabled {
  border-color: $border-color-light;
  cursor: not-allowed;
}
.c-form-group_one-line.js-disabled .c-form-group__label-content {
  border-color: $border-color-light;
}

.c-form-group_one-line.js-error,
.c-form-group_one-line.js-error .c-form-group__label-content {
  border-color: $brand-danger;
}

.c-form-group_one-line.js-warning,
.c-form-group_one-line.js-warning .c-form-group__label-content {
  border-color: $brand-warning;
}

.c-form-group_one-line.js-error .c-form-group__error, 
.c-form-group_one-line.js-warning .c-form-group__warning {
  padding: $gutter-width-small - 1 $gutter-width-small $gutter-width-small;
  font-size: $font-size-medium;
  color: $font-color-light;
  display: block;
  border-top: 1px solid $brand-warning;
  margin-top: 0;
}
.c-form-group_one-line.js-error .c-form-group__error {
  border-color: $brand-warning;
}

.c-form-group_one-line.js-active,
.c-form-group_one-line.js-active.js-warning .c-form-group__label-content,
.c-form-group_one-line.js-active.js-error .c-form-group__error,
.c-form-group_one-line.js-active.js-warning .c-form-group__warning {
  border-color: $brand-primary;
}

// Modifier: inline
.c-form-group_inline  {
	position: relative;
	margin-bottom: 0;
}

.c-form-group_inline .c-form-group__label-content {
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	padding: $gutter-width-small $gutter-width 0;
	margin: 0;
	text-transform: uppercase;
  color: $font-color-light;
  box-sizing: border-box;
}

.c-input_inline:not(:placeholder-shown) ~ .c-form-group__label-content,
.c-textarea_inline:not(:placeholder-shown) ~ .c-form-group__label-content {
	display: block;
}

.c-form-group_inline.js-active .c-form-group__label-content,
.c-form-group_inline.js-dirty .c-form-group__label-content {
	display: block;
}

.c-form-group_inline.js-active .c-input_inline:placeholder-shown ~ .c-form-group__label-content,
.c-form-group_inline.js-active .c-textarea_inline:placeholder-shown ~ .c-form-group__label-content  {
	display: none;
}

.c-form-group_inline .c-input,
.c-form-group_inline .c-textarea  {
	background: transparent;
}

.c-form-group_inline .c-input__icon,
.c-form-group_inline .c-textarea__icon {
  margin-top: $gutter-width-small + $gutter-width-large;
  margin-bottom: -($gutter-width-large + $gutter-width-small + $gutter-width) ;
}

@media only screen and (max-width: $breakpoint-small) {
  .c-form-group_one-line .c-input__icon {
    margin-right: $gutter-width-extra-small;
  }
}