$content-padding-top: 3px;
$content-padding-sides: 8px;

.c-input {
  width: 100%;
  border-radius: $border-radius-medium;
  border: 1px solid $border-color;
  padding: $gutter-width-small;
  outline: none;
  height: $input-height;
  background: transparent;
  line-height: 1rem;
  box-sizing: border-box;
  color: $font-color;
  stroke: $font-color;
  z-index: z('input');
  -moz-appearance: window;
}

.c-input:-webkit-autofill,
.c-input:-webkit-autofill:hover,
.c-input:-webkit-autofill:focus,
.c-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.c-input::placeholder {
  color: tint($font-color, 60);
}

.c-input_select {
  -webkit-appearance: none;
}

.c-input_select.c-input_table-cell {
  width: 100%;
  line-height: 1rem;
  outline: none;
  border-radius: $border-radius-small;
  padding: $gutter-width-small $gutter-width-extra-small $gutter-width-small 0;
}

.c-input:disabled {
  cursor: not-allowed;
  border-color: $border-color-light;
}

.c-input__icon {
  fill: none;
  stroke: $font-color;
  float: right;
  margin-right: $gutter-width-small + 5;
  margin-top: $gutter-width-extra-small + 1;
  margin-bottom: -25px;
  z-index: z('inputIcon');
}
.c-input_error_icon .c-icon-svg {
  stroke: $brand-danger;
}

.c-input.js-warning {
  border-color: $brand-warning;
}

.c-input.js-error {
  border-color: $brand-danger;
}

.c-input:focus {
  border-color: $brand-primary;
}

.c-input_size-large {
  padding: $gutter-width-small $gutter-width;
}

.c-input_size-large .c-input__icon {
  margin-top: $gutter-width-small + 3;
}

// Modifier table-cell
.c-input_table-cell {
  font-size: $font-size-medium;
  border: none;
  padding: $gutter-width-small $gutter-width-extra-small $gutter-width-small 0;
  height: initial;
}

.c-input_table-cell-flex {
  height: .75rem;
  font-size: $font-size-medium;
  padding: 0;
  border: none;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
.c-input__icon {
  z-index: z('inputIcon');
}
.c-input_table-cell.c-input_with-icon {
  padding-right: $gutter-width + $gutter-width-tiny;
}

.c-input__icon.c-icon_table-cell {
  float: right;
  margin-right: $gutter-width-tiny;
  margin-top: 0;
  transform: translateY($gutter-width-small);
}

// Modifier one-line
.c-input_one-line {
	border: none;
	min-width: 70px;
}

.c-input_one-line .c-input__icon {
	margin-top: initial;
	margin-bottom: initial;
}

// Modifier inline
.c-input_inline {
	border: none;
	padding: ($gutter-width-small * 2) + $gutter-width $gutter-width $gutter-width-large;
	border-radius: unset;
}

.c-input_inline:placeholder-shown {
	padding: ($gutter-width-small * 2) + $gutter-width-extra-small $gutter-width $gutter-width-large + $gutter-width-extra-small;
}

.c-input_inline.c-input_with-icon {
  padding-right: $gutter-width + $gutter-width-small;
}

.c-input_inline::placeholder {
	text-transform: uppercase;
	color: $font-color-light;
}

.c-input_inline.c-input_select {
  padding: $gutter-width-large $gutter-width 0;
  height: $input-height + $gutter-width-large;
}
@media only screen and (max-width: $breakpoint-small) {
  .c-input {
    padding: $gutter-width-small $gutter-width-extra-small;
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .c-input {
    padding: $gutter-width-small $gutter-width-extra-small;
  }
  .c-input_inline {
    padding: ($gutter-width-small * 2) + $gutter-width $gutter-width $gutter-width-large;
  }
  .c-input_inline:placeholder-shown {
    padding: ($gutter-width-small * 2) + $gutter-width-extra-small $gutter-width $gutter-width-large + $gutter-width-extra-small;
  }
}